<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/solo.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% include head.html %}
	<style>
	#recent h1,
	#recent h2,
	#recent h3 {
		display: none;
	}
	
	#recent small {
		color: #666;
	}
	
	#recent ul {
		margin: 0;
		padding: 0;
	}
	
	#recent ul li {
		list-style: none;
		opacity: 0.666;
	}
	
	#recent ul li:hover {
		opacity: 1.0;
	}
	</style>
</head>
<body>
	<div class="container">
	<h1>
		<a href="/" title="{{site.title_tag_text}}">
			{{ site.h1_tag_text }}
		</a>
	</h1>
	
	{{ content }}
	

	
	<h2>Recent</h2>
	<div id="recent">
		{% assign posts_collate = site.posts %}
		{% include JB/posts_collate %}
	</div>
	
	<ul id="timeline"></ul>
	
	</div>
{% include scripts.html %}

<script>
$(function () {
    var timeline = $('#timeline');
    
    $.ajax({
    	url: "//github.com/krisives.json",
    	dataType: "jsonp",
    	complete: function (data) {
            console.log("GitHub", data);
    	}
    });
    
    function add(body, when, link) {
    	var item = $('<li></li>');
    	item.append(body);
    	
    	timeline.append(item);
    	return item;
    }
    
    var redditHandlers = {
    	t1: function (e) {
    		add(e.body_html, e.created_utc);
    	}
    };
    
    $.ajax({
    	url: "//reddit.com/user/kayrice/overview.json",
    	dataType: 'jsonp',
    	jsonp: 'jsonp',
    	crossDomain: true, 
    	complete: function (data) {
    		$.each(data.responseJSON.data.children, function (index, event) {
    			var f = redditHandlers[event.kind];
    			
    			if (f) {
    				f(event);
    			}
    		});
    	}
    });
});
</script>

</body>
</html>
